body {
  background-color: rgb(225, 247, 201);
  font-size: 20px;
  font-family: arial;
}

h1 {
  font-size: 40px;
}

.first {
  color: red;
}

#your-name {
  background-color: rgb(225, 220, 105);
  border: 5px solid #444;
}
